<html ng-app="drApp" ng-strict-di>

<head>
    <meta name="viewport" content="minimal-ui, user-scalable=no, initial-scale=1, maximum-scale=1, width=device-width">
    <script src="app.bundle.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patua One">
    <title>Coordinator</title>
    <meta name="description" content="coordinator">
    <base href="/">
    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
</head>

<body oncontextmenu="return false;">
    <ui-view></ui-view>
</body>

</html>