<div>
    <div id="game"></div>
    <div id="panel">
        <form name="myForm">
            <label>
                <input type="file" id="dataFile" name="files[]" />
                upload weapon shape
            </label><br />
            <label>
                <input type="radio" ng-model="c.coordMode" value="offset">
                Offset
            </label><br />
            <label>
                <input type="radio" ng-model="c.coordMode" value="center">
                Center
            </label><br />
            <label>
                <input type="radio" ng-model="c.coordMode" value="hand1">
                Hand1
            </label><br />
            <label>
                <input type="radio" ng-model="c.coordMode" value="hand2">
                Hand2
            </label><br />
            <label>
                <input type="radio" ng-model="c.coordMode" value="muzzle">
                Muzzle
            </label><br />
            <label>
                <input type="radio" ng-model="c.coordMode" value="angle">
                Angle
            </label><br />
        </form>
        <button ng-click="c.save()">Save</button>
    </div>
</div>